
.form-actions{
    text-align: center;
    padding: auto;
    margin-top: 0.5rem;
}

.form-action-btn{
    margin-right: 0.5rem;
}

.file-uploader{
    text-align: center;
    margin-bottom: 0.3rem;
}

.vertical-nav{
    min-width: 225px; border-right: 1px solid #e7e7e7;
}

.searchterm-watchlist{
    margin-right: 0.3rem;
}

.post-btn{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.cmt-card-body{
    padding-left: 1rem;
}

.comment-list{
    padding: 0.5rem;
}

.card-container{
    border-style: outset;
}

.cmt-inp-container{
    border-style: ridge;
}

b{
    color: darkblue;
}

